.collection-list{
    padding:100px 0;
    width:1038px;
    margin:0 auto;
    display: flex;
    flex-wrap: wrap;
}
.collection-item{
    width:326px;
    height:274px;
    background: rgba(78,81,112,0.24);
    border-radius: 16px;
    padding:30px 30px 24px;
    color:#000;
    font-size:14px;
    margin:30px 30px 0 0; 
    position:relative;
}
.collection-item.mr0{
    margin-right:0;
}




.royalty-list .royalty-item {
    display: flex;
    margin-bottom:20px;
}
.royalty-list .royalty-account .ant-input {
    width: 806px !important;
}
.royalty-list .royalty-amount{
    margin:0 12px 0 20px;
}
.royalty-amount-content{
    width: 110px;
    border-radius: 8px;
    border: 1px solid rgba(255,255,255,0.16)!important;
    position:relative;
}
.royalty-amount-content::after{
    display:block;
    content:"%";
    position:absolute;
    top:0;
    right:0;
    width:36px;
    height:50px;
    line-height:50px;
    text-align: center;
    font-family: Gilroy-Regular;
    font-size: 16px;
    color: #FFFFFF;
    font-weight: 400;
}
.royalty-list .royalty-amount .ant-input {
    width: 70px !important;
    border-top:0 !important;
    border-bottom:0 !important;
    border-left:0 !important;
    border-radius: 0;
}

.collection-modal form .ant-form-item:last-child .ant-form-item-label{
    margin-bottom: 5px;
}
.collection-modal .role-intro{
    margin-bottom:20px;
    opacity: 0.6;
    font-family: Gilroy-Regular;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0;
    font-weight: 400;
}

.collection-modal .ant-select .ant-select-selector{
    width:936px;
    background-color: transparent!important;
    border: 1px solid rgba(255,255,255,0.16)!important;
    border-radius: 8px!important;
    height:50px;
    line-height:48px;
    padding:0 20px!important;
}
.collection-modal .ant-select .ant-select-selection-overflow{
    height:48px;
    line-height:48px;
    border: 0!important;
    padding-right:20px;
    background:url('../../assets/images/setRule/arrow-bottom.png') no-repeat right center;
    background-size:12px 12px;
}
.collection-modal .ant-select.ant-select-open .ant-select-selection-overflow{
    background:url('../../assets/images/setRule/arrow-top.png') no-repeat right center;
    background-size:12px 12px;
}
.collection-modal .ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input) .ant-select-selector{
    box-shadow: none!important;
    border: 1px solid rgba(255,255,255,1)!important;
}
.collection-modal-role-dropdown{
    min-width:936px!important;
    width:936px!important;
    background: #0D0D16!important;
    box-shadow: 0px 12px 20px 0px rgba(0,0,0,0.15)!important;
    border-radius: 8px!important;
    padding:0!important;
    overflow:hidden!important;
}
.collection-modal-role-dropdown .ant-select-item{
    width: 936px!important;
    padding:0 20px!important;
    height:44px!important;
    line-height:44px!important;
}
.collection-modal-role-dropdown .ant-select-item .ant-select-item-option-content{
    font-family: Gilroy-Regular;
    font-size: 14px;
    color: #FFFFFF!important;
    letter-spacing: 0;
    font-weight: 400;
    width:936px!important;
}
.collection-modal-role-dropdown .ant-select-item-option-active,.collection-modal-role-dropdown .ant-select-item-option-selected{
    width:936px!important;
    background: rgba(255,255,255,0.07)!important;
}
.collection-modal-role-dropdown .ant-empty-description{
    font-family: Gilroy-Regular;
    font-size: 14px;
    color: #FFFFFF!important;
    letter-spacing: 0;
    font-weight: 400;
}




