[build]
  command = "yarn build"
  publish = "/dist"
  base = "/"

[[redirects]]
  from = "/api/*"
  to = "http://13.214.203.20:8080/api/:splat"
  status = 200
  force = true

[[redirects]]
  from = "/arweave/*"
  to = "https://arweave.net/:splat"
  status = 200
  force = true

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200