.setRule-list{
    padding:100px 0;
    width:1038px;
    margin:0 auto;
    display: flex;
    flex-wrap: wrap;
}
.setRule-item{
    width:326px;
    height:274px;
    background: rgba(78,81,112,0.24);
    border-radius: 16px;
    padding:30px 30px 24px;
    color:#000;
    font-size:14px;
    margin:30px 30px 0 0; 
    position:relative;
}
.setRule-item.mr0{
    margin-right:0;
}
.setRule-item .token-info{
    margin-bottom:24px;
    display:flex;
    align-items:center;
    height:40px;
    position:relative;
}
.token-info .token-icon{
    width:40px;
    height:40px;
    border-radius:50%;
}
.token-info .token-symbol{
    margin-left:16px;
    font-family: Gilroy-Bold;
    font-size: 16px;
    color: #FFFFFF;
    line-height: 26px;
    font-weight: 700;
}
.token-info .delete-btn{
    display:block;
    content:"";
    position:absolute;
    top:0;
    right:0;
    width:40px;
    height:40px;
    border-radius:50%;
    background:rgba(255,255,255,0.07) url('../../assets/images/setRule/delete.png') no-repeat center center;
    background-size:16px 16px;
    cursor: pointer;
}
.file-item{
    height:32px;
    display: flex;
    justify-content:space-between;
    align-items:center;
}
.file-item .name{
    font-family: Gilroy-Regular;
    font-size: 14px;
    color: rgba(255,255,255,0.6);
    font-weight: 400;
}
.file-item .info{
    font-family: Gilroy-Regular;
    font-size: 14px;
    color: #FFFFFF;
    font-weight: 400;
}



.ant-modal-mask{
    background: rgba(0,0,0,0.45);
}
.rule-modal .ant-modal{
    width:460px!important;
}
.rule-modal .ant-modal-content{
    width:460px;
    padding:20px 50px 60px;
    box-sizing: border-box;
    /* background: rgba(78,81,112,1); */
    background: #28282D;
    border-radius: 16px;
    overflow: hidden;
}
.rule-modal .ant-modal-close{
    display: none;
}
.rule-modal .ant-modal-header{
    display:none;
}
.rule-modal .ant-modal-body{
    padding:0;
}
.rule-modal .ant-modal-body .ant-form-item{
    display:flex;
    flex-direction: column;
    margin-bottom:30px;
}
.rule-modal .ant-form-item-label{
    text-align:left;
    height:17px;
    line-height:17px;
    margin-bottom:12px;
    flex:0 0 !important;
}
.rule-modal .ant-form-item-label>label{
    font-family: Gilroy-SemiBold;
    font-size: 14px;
    color: #FFFFFF;
    font-weight: 600;
    line-height:17px;
    height:17px;
}
.rule-modal .ant-select,.rule-modal .ant-form-item-control,.rule-modal .ant-form-item-control-input,.rule-modal .ant-form-item-control-input-content{
    width:360px!important;
    height:44px!important;
    line-height:44px!important;
}
.rule-modal .ant-select .ant-select-selector,.rule-modal .ant-input{
    width:360px!important;
    height:44px!important;
    line-height:44px!important;
    border: 1px solid rgba(255,255,255,0.16)!important;
    border-radius: 8px!important;
    background: transparent!important;
}
.rule-modal .ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input) .ant-select-selector{
    box-shadow: none!important;
    border: 1px solid rgba(255,255,255,1)!important;
}
.rule-modal .ant-select .ant-select-selector .ant-select-selection-item,.rule-modal .ant-input{
    font-family: Gilroy-Regular;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0;
    font-weight: 400;
    height:44px!important;
    line-height:44px!important;
}

.rule-modal .ant-select-selector .ant-select-selection-search{
    right:40px!important;
}
.rule-modal .ant-select-selector .ant-select-selection-search input{
    height:44px!important;
    line-height:44px!important;
}
.rule-modal .ant-select .ant-select-arrow{
    width:12px;
    height:12px;
    background:url('../../assets/images/setRule/arrow-bottom.png') no-repeat center center;
    background-size:12px 12px;
    right:16px;
}
.rule-modal .ant-select-open .ant-select-arrow{
    background:url('../../assets/images/setRule/arrow-top.png') no-repeat center center;
    background-size:12px 12px;
}
.rule-modal .ant-select .ant-select-arrow svg{
    display:none;
}
.dropdown{
    background: #0D0D16!important;
    box-shadow: 0px 12px 20px 0px rgba(0,0,0,0.15)!important;
    border-radius: 8px!important;
    padding:0!important;
    overflow:hidden!important;
}
.dropdown .ant-select-item{
    width: 100%!important;
    padding:0 20px!important;
    height:44px!important;
    line-height:44px!important;
}
.dropdown .ant-select-item .ant-select-item-option-content{
    font-family: Gilroy-Regular;
    font-size: 14px;
    color: #FFFFFF!important;
    letter-spacing: 0;
    font-weight: 400;
    width:100%!important;
}
.dropdown .ant-select-item-option-active,.dropdown .ant-select-item-option-selected{
    width:100%!important;
    background: rgba(255,255,255,0.07)!important;
}



.dropdown .ant-empty-description{
    font-family: Gilroy-Regular;
    font-size: 14px;
    color: #FFFFFF!important;
    letter-spacing: 0;
    font-weight: 400;
}




.rule-modal .ant-modal-footer{
    margin-top:50px;
    border: none;
    padding:0;
    display: flex;
    justify-content: space-between;
}
.rule-modal .ant-modal-footer .ant-btn{
    width:165px;
    height:50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    box-shadow: none;
    border:0;
    font-family: Gilroy-Regular;
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
    font-weight: 400;
    /* background: rgba(78,81,112,0.24); */
    background: rgba(255,255,255,0.05);
    /* border:1px solid rgba(255,255,255,0.16); */
}
.rule-modal .ant-modal-footer .ant-btn-primary{
    background: linear-gradient(-83deg, #9D7DFF 0%, #8C97FF 43%, #9FD0FF 100%);
}
.rule-modal .ant-modal-footer .ant-btn-primary:hover{
    background: linear-gradient(-88deg, #812BFF 0%, #6A79FF 41%, #4D85FF 100%)!important;
    color:rgba(255,255,255,1);
}
.rule-modal .ant-modal-footer .ant-btn-primary.ant-btn-loading .anticon-loading{
    padding-right:0;
}
.rule-modal .ant-modal-footer .ant-btn-primary.ant-btn-loading>span:last-child{
    display:none;
}
.rule-modal .ant-select:not(.ant-select-customize-input) .ant-select-selector,.rule-modal .ant-input{
    border-radius: 30px;
}



.rule-modal .ant-message-notice .ant-message-notice-content{
    width:200px;
    height:134px;
    background: rgba(0,0,0,0.56);
    border-radius: 16px;
    display: flex;
    justify-content:center;
    align-items: center;
    position: relative;
    left:50%;
    transform:translateX(-50%);
    padding:0;

}
.rule-modal .ant-message-notice .anticon-info-circle{
    display:none;
}
.rule-modal .ant-message-notice span{
    display:block;
    height:74px;
    font-family: Gilroy-Regular;
    font-size: 14px;
    line-height:16px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
    font-weight: 400;
    padding-top:58px;
    background:url('../../assets/images/success.png') no-repeat top center;
    background-size:50px 50px;
}