.failure-box{
    position: relative;
    width:100vw;
    height:100vh;
    background-size:100% 100%;
}
.failure-content{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.bg-left-top{
    position: absolute;
    width:37.8472%;
    top:0;
    left:0;
}
.bg-right-bottom{
    position: absolute;
    width:35.83333%;
    right:0;
    bottom:0;
}
