.bg{
    position:fixed;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    background:url('../../assets/images/bg.png') no-repeat center center;
    background-size:cover;
}
.main{
    position:relative;
    z-index: 2;
}
/*header*/
.header{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:10rem;
    display: flex;
    justify-content:space-between;
    align-items:center;
    padding:0 13.888889%;
}
.header .logo{
    width:9.4rem;
}
.nav{
    display: flex;
    height:4.4rem;
    position:relative;
    z-index: 3;
    align-items: center;
}
.nav-item{
    display: block;
    font-family: Gilroy-Regular;
    font-size: 1.6rem;
    color: rgba(255,255,255,0.6);
    letter-spacing: 0;
    text-align: right;
    font-weight: 700;
    cursor: pointer;
    margin-left:6rem;
}
.nav-item:link {color: rgba(255,255,255,0.6);}   
.nav-item:visited {color: rgba(255,255,255,0.6);} 
.nav-item:hover {color: rgba(255,255,255,1);}   
.nav-item:active {color: rgba(255,255,255,0.6);}

/*banner*/
.banner-box{
    position: relative;
}
.banner{
    display:block;
    width:100%;
}
.banner-content{
    position: absolute;
    top: 37.037037%;
    left:13.888889%;
}
.banner-content .title{
    line-height:7.9rem;
    font-family: Gilroy-Bold;
    font-size: 6.6rem;
    color: #FFFFFF;
    font-weight: 700;
}
.banner-content .intro{
    margin-top:0.6rem;
    font-family: Gilroy-Regular;
    font-size: 2rem;
    color: #FFFFFF;
    line-height: 3rem;
    font-weight: 700;
}
.banner-content  .intro span{
    color: rgba(255,255,255,0.50);
}
.banner-content .invite-btn{
    display:block;
    width:20rem;
    height:6rem;
    text-align: center;
    line-height:6rem;
    margin-top:7.3rem;
    background-image: linear-gradient(-83deg, #9D7DFF 0%, #8C97FF 43%, #9FD0FF 100%);
    border-radius: 8px;
    font-family: Gilroy-Regular;
    font-size: 2rem;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
    font-weight: 700;
}
.banner-content .invite-btn:hover{
    background-image: linear-gradient(-88deg, #812BFF 0%, #6A79FF 41%, #4D85FF 100%);
}
/*content*/
.content{
    width:1040px;
    margin:0 auto;
    text-align: center;
}
.content>.title{
    font-family: Gilroy-SemiBold;
    font-size: 40px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
    line-height: 53px;
    font-weight: 600;
}
.content>.intro{
    font-family: Gilroy-Regular;
    font-size: 18px;
    color: #FFFFFF;
    letter-spacing: 0.56px;
    text-align: center;
    font-weight: 400;
}
.content .feature-box{
    margin-top:58px;
    margin-bottom:120px;
    display: flex;
    justify-content:space-between;
}
.feature-box .feature{
    padding:30px;
    box-sizing: border-box;
    width:505px;
    background: rgba(78,81,112,0.24);
    border: 1px solid rgba(38,40,62,1);
    border-radius: 16px;
    text-align:left;
}
.feature>.icon{
    width:60px;
    height:60px;
}
.feature>.title{
    margin-top:24px;
    font-family: Gilroy-Bold;
    font-size: 22px;
    color: #FFFFFF;
    line-height: 26px;
    font-weight: 700;
}
.feature>.info{
    margin-top:12px;
    opacity: 0.6;
    font-family: Gilroy-Regular;
    font-size: 16px;
    color: #FFFFFF;
    text-align: justify;
    line-height: 26px;
    font-weight: 400;
}
.feature>.list{
    margin-top:30px;
    display:flex;
    justify-content:space-between;
}
.list .item{
    padding-left:28px;
    background:url('../../assets/images/index/check.png') no-repeat left center;
    background-size:16px 16px;
    font-family: Gilroy-Regular;
    font-size: 14px;
    color: #FFFFFF;
    text-align: justify;
    line-height: 24px;
    font-weight: 400;
}

/*work-list*/
.work-title{
    margin-bottom:37px;
}
.work-list{
    display:flex;
    justify-content:space-between;
    align-items: center;
    margin-bottom: 72px;
    text-align:left;
}
.work-list>.pic{
    width:480px;
    height:320px;
}
.work-list>.txt{
    width:420px;
}
.txt .title{
    font-family: Gilroy-Bold;
    font-size: 32px;
    color: #FFFFFF;
    line-height: 26px;
    font-weight: 700;
}
.txt .intro{
    margin-top:20px;
    opacity: 0.6;
    font-family: Gilroy-Regular;
    font-size: 18px;
    color: #FFFFFF;
    text-align: justify;
    line-height: 26px;
    font-weight: 400;
}
/*Partner*/
.partner{
    margin-top:52px;
    display: flex;
    justify-content: center;
}
.brand{
    width:192px;
    height:80px;
    background: rgba(78,81,112,0.24);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right:20px;
    position:relative;
    top: 0;
    transition: top 0.5s ease;
    cursor: pointer;
}
.brand img{
    width:150px;
}
.brand:hover{
    top:-10px;
}
.brand:last-child{
    margin-right:0;
}

.power{
    margin-top:6rem;
    margin-bottom:12rem;
    height:2rem;
    display: flex;
    justify-content:center;
    align-items:center;
    font-family: Gilroy-Regular;
    font-size: 1.4rem;
    color: rgba(255,255,255,0.6);
    letter-spacing: 0;
    text-align: center;
    font-weight: 400;
}
.power img{
    width:60px;
    margin-left:8px;
}

.footer{
    width: 100%;
    padding:0 13.888889%;
    height:80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #000000;
    font-family: Gilroy-Regular;
    font-size: 1.6rem;
    color: #FFFFFF;
    letter-spacing: 0;
    font-weight: 400;
}
.footer .media-list{
    display: flex;
}
.media-list .media{
    display: block;
    margin-right:40px;
    width:24px;
    height:24px;
}
.media-list .media.twitter{
    background:url('../../assets/images/index/twitter.png') no-repeat left center;
    background-size: 24px 24px;
}
.media-list .media.discord{
    background:url('../../assets/images/index/discord.png') no-repeat left center;
    background-size: 24px 24px;
}
.media-list .media.github{
    background:url('../../assets/images/index/github.png') no-repeat left center;
    background-size: 24px 24px;
}
.media-list .media.youtube{
    background:url('../../assets/images/index/youtube.png') no-repeat left center;
    background-size: 24px 24px;
}
.media-list .media.medium{
    background:url('../../assets/images/index/medium.png') no-repeat left center;
    background-size: 24px 24px;
}
.media-list .media.twitter:hover{
    background:url('../../assets/images/index/twitter-hover.png') no-repeat left center;
    background-size: 24px 24px;
}
.media-list .media.discord:hover{
    background:url('../../assets/images/index/discord-hover.png') no-repeat left center;
    background-size: 24px 24px;
}
.media-list .media.github:hover{
    background:url('../../assets/images/index/github-hover.png') no-repeat left center;
    background-size: 24px 24px;
}
.media-list .media.youtube:hover{
    background:url('../../assets/images/index/youtube-hover.png') no-repeat left center;
    background-size: 24px 24px;
}
.media-list .media.medium:hover{
    background:url('../../assets/images/index/medium-hover.png') no-repeat left center;
    background-size: 24px 24px;
}

.footer .email{
    font-family: Gilroy-Regular;
    font-size: 1.6rem;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: right;
    font-weight: 400;
}




.nav .ant-select{
    width:15.6rem;
    height:4.4rem;
    line-height:4.4rem;
    border: 0!important;
    border-radius: 0.8rem;
}
.nav .ant-select-selector{
    height:4.4rem!important;
    line-height:4.4rem;
    background: transparent!important;
    box-shadow: none!important;
    border: 1px solid rgba(255,255,255,1)!important;
    border-radius: 0.8rem!important;
    padding:0 20px!important;
}
.nav .ant-select-selector .ant-select-selection-item{
    font-family: Gilroy-Regular;
    font-size: 1.6rem;
    color: #FFFFFF;
    letter-spacing: 0;
    font-weight: 700;
    height:4.4rem!important;
    line-height:4.4rem!important;
    padding-left:1.6rem!important;
    position: relative;
    text-align: left;
}
.nav .ant-select-selector .ant-select-selection-item::before{
    position:absolute;
    top:1.9rem;
    left:0;
    content:"";
    width:6px;
    height:6px;
    border-radius: 50%;
    background: #49FFA5;
}
.nav .testnet .ant-select-selector .ant-select-selection-item::before{
    background: #FFCA8B;
}
.nav .ant-select .ant-select-arrow{
    width:1.2rem;
    height:1.2rem;
    background:url('../../assets/images/setRule/arrow-bottom.png') no-repeat center center;
    background-size:1.2rem 1.2rem;
    right:1.6rem;
}
.nav .ant-select-open .ant-select-arrow{
    background:url('../../assets/images/setRule/arrow-top.png') no-repeat center center;
    background-size:1.2rem 1.2rem;
}
.nav .ant-select .ant-select-arrow svg{
    display:none;
}
.network-dropdown{
    background: transparent!important;
    border: 1px solid rgba(255,255,255,0.16);
    border-radius: 0.8rem!important;
    padding:0!important;
    overflow:hidden!important;
}
.network-dropdown .ant-select-item{
    width: 100%!important;
    padding:0 20px!important;
    height:4.4rem!important;
    line-height:4.4rem!important;
}
.network-dropdown .ant-select-item .ant-select-item-option-content{
    font-family: Gilroy-Regular;
    font-size: 1.6rem;
    color: #FFFFFF!important;
    letter-spacing: 0;
    font-weight: 700;
    width:100%!important;
}
.network-dropdown .ant-select-item-option-active,.network-dropdown .ant-select-item-option-selected{
    width:100%!important;
    background: rgba(255,255,255,0.07)!important;
}
.network-dropdown .ant-select-item-option{
    padding-left:3.6rem!important;
}
.network-dropdown .ant-select-item-option::before{
    position:absolute;
    top:1.9rem;
    left:2rem;
    content:"";
    width:6px;
    height:6px;
    border-radius: 50%;
    background: #49FFA5;
}
.network-dropdown .rc-virtual-list-holder-inner .ant-select-item-option:last-child::before{
    background: #FFCA8B;
}