* {
  margin: 0;
  padding:0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'Gilroy-Regular';  
  src: url('./assets/fonts/gilroy-regular-3.otf') 
}
@font-face {
  font-family: 'Gilroy-Bold';  
  src: url('./assets/fonts/gilroy-bold-4.otf') 
}
@font-face {
  font-family: 'Gilroy-SemiBold';  
  src: url('./assets/fonts/Radomir Tinkov - Gilroy-SemiBold.otf') 
}
