.verify-box{
  position: relative;
  width:100vw;
  height:100vh;
  background-size:100% 100%;
}
.verify-content{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}
.bg-top{
  position: absolute;
  width:60.2083%;
  top:0;
  left:3.1944%;
}
.bg-right{
  position: absolute;
  width:10.2778%;
  right:0;
  bottom:12.375%;
}





.verify-content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 760px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.verify-content .verify-info-box {
  font-family: Basic;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 50px;
  color: #000000;
  position: relative;
}
.verify-info-box .verify_bg{
  width: 100%;
}
.verify-info-box .verify-info{
  position: absolute;
  top:26%;
  left:13%;
  height:176px;
  width:560px;
}
.verify-info .avatar{
  width:124px;
  height:124px;
  border-radius: 50%;
  position: absolute;
  top:26px;
  left:26px;
}
.verify-info .server-name{
  position: absolute;
  top:35px;
  left:180px;
  font-size:34px;
  font-weight:bold;
}
.verify-info .name{
  position: absolute;
  bottom:35px;
  left:180px;
  font-size:24px;
  font-weight:bold;
}
.verify-content .title {
  position: absolute;
  width: 775px;
  height: 67px;
  left: calc(50% - 775px/2 - 12.5px);
  top: calc(50% - 67px/2 + 137.5px);
  text-align: center;

  font-family: Baloo 2;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 80%;
  /* or 16px */

  text-align: center;
  letter-spacing: -0.05em;
  display: flex;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.verify-content .connect {
  position: absolute;
  width: 309px;
  height: 77px;
  left: calc(50% - 309px/2 - 13.5px);
  top: calc(50% - 77px/2 + 200.5px);
  position: absolute;
  background: #6B6EF9;
  border-radius: 40px;

  font-family: Baloo;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 63px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
}

@media (max-width: 780px) {
  .verify-content .content {
    width: 90%;
    left: calc(50% - 45%);
    top: calc(50% - 45%);
  }
}
