.verify-box{
  position: relative;
  width:100vw;
  height:100vh;
  background:url('../../assets/images/bg-connect-wallet.png') no-repeat center center;
  background-size:cover;
}
.verify-info {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width:360px;
  padding:60px 30px;
  box-sizing: border-box;
  background: rgba(48,51,77,0.70);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.verify-info .avatar{
  width:90px;
  height:90px;
  border-radius: 50%;
}
.verify-info .name{
  margin-top:24px;
  font-family: Gilroy-Bold;
  font-size: 18px;
  color: #FFFFFF;
  text-align: center;
  line-height: 22px;
  font-weight: 700;
}
.verify-info .account-name{
  margin-top:8px;
  font-family: Gilroy-Regular;
  font-size: 16px;
  color: #FFFFFF;
  text-align: center;
  font-weight: 400;
  line-height:20px;
}
.verify-info .server-name{
  margin-top:8px;
  opacity: 0.4;
  font-family: Gilroy-Regular;
  font-size: 14px;
  color: #FFFFFF;
  text-align: center;
  font-weight: 400;
  line-height: 16px;
}
.verify-info .disconnect-btn{
  margin-top:60px;
  display:block;
  width:240px;
  height:50px;
  text-align: center;
  line-height:48px;
  border-radius: 8px;
  border: 1px solid rgba(255,255,255,0.16);
  font-family: Gilroy-Regular;
  font-size: 16px;
  color: #FFFFFF;
  letter-spacing: 0;
  text-align: center;
  font-weight: 400;
  cursor: pointer;
}
.verify-info .near-connect-btn{
  margin-top:60px;
  display:block;
  width:240px;
  height:50px;
  text-align: center;
  line-height:50px;
  border: 1px solid rgba(255,255,255,0.16);
  border-radius: 8px;
  font-family: Gilroy-Regular;
  font-size: 16px;
  color: #FFFFFF;
  letter-spacing: 0;
  text-align: center;
  font-weight: 400;
  cursor: pointer;
  background:url('../../assets/images/logo-near.png') no-repeat 12px center;
  background-size:24px;
}
.verify-info .sw-connect-btn-box{
  margin-top:20px;
  display:block;
  width:240px;
  height:50px;
  background-image: linear-gradient(-83deg, #9D7DFF 0%, #8C97FF 43%, #9FD0FF 100%);
  border-radius: 8px;
}
.verify-info .sw-connect-btn{
  width:240px;
  height:50px;
  text-align: center;
  line-height:50px;
  border-radius: 8px;
  font-family: Gilroy-Regular;
  font-size: 16px;
  color: #FFFFFF;
  letter-spacing: 0;
  text-align: center;
  font-weight: 400;
  cursor: pointer;
  background:url('../../assets/images/logo-sender.png') no-repeat 12px center;
  background-size:24px;
}
.verify-info .connect-btn:hover{
  background-image: linear-gradient(-88deg, #812BFF 0%, #6A79FF 41%, #4D85FF 100%);
}
.verify-info .tip{
  margin-top:12px;
  opacity: 0.4;
  font-family: Gilroy-Regular;
  font-size: 14px;
  color: #FFFFFF;
  text-align: center;
  font-weight: 400;
  line-height:16px;
}

