.loading-box{
    position: relative;
    width:100vw;
    height:100vh;
    background-size:100% 100%;
    background: #0D0E1C;
}
.loading-content{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.loading-content img{
    width:111px;
}
.loading-content .text{
    margin-top:15px;
    font-family: Gilroy-Regular;
    font-size: 16px;
    color: #FFFFFF;
    text-align: center;
    font-weight: 400;
}